{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">
    $(document).ready(function() {
      $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
      $('.datetimeinput').datetimepicker({format: "YYYY-MM-DD HH:mm"});
    });
</script>

{%block content%}
<div class="container">
     <div class="col-md-6">

    {%if object%}
        <h1>Update {{object.name}}</h1>
    {%else%}
        <h1>Create a New Homework</h1>
    {%endif%}
    
    
    
    {% crispy form %}
	</div>

</div>
{%endblock%}
